@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .form-input {
    @apply w-full h-10 p-1 rounded-md 2xl:h-12 outline-orange-300 dark:outline-green-500;
  }
  .btn-primary {
    @apply h-10 col-span-6 font-semibold rounded-md dark:bg-cyan-500 bg-orange-500/90 hover:bg-orange-500/80 dark:hover:bg-cyan-500/80 2xl:h-12 text-gray-50;
  }
  .result-small-container {
    @apply dark:bg-gray-600 dark:border-cyan-500 flex flex-col items-center justify-center bg-white rounded-md shadow-sm text-center border-[0.5px] border-orange-400;
  }
}
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
